/* === General Options === */

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

h2, h6, p, input {
  margin-bottom: 0rem;
}

h2, h6, p, input {
  margin-bottom: 1.071rem;
}

a {
  text-decoration: none;
}

/* === Typography === */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f4f5;
  color: #211138;
}

h6, a, input, h2 {
  font-size: 0.857rem;
  font-weight: bold;
}

h6, a {
  text-transform: uppercase;
  letter-spacing: 0.171rem;
}

h2 {
  font-size: 2.857rem;
}

.social-link-container, .phone-number, .address {
  margin-top: 2.143rem;
}

.address, .phone-number, .email {
  color: #6200ea;
}

.large-paragraph {
  font-size: 1.428rem;
  line-height: 2.143rem;
  letter-spacing: 0rem;
  font-weight: normal;
}