.header {
  height: 80px;
  background-color: #6200ea;
}

.header-wrapper {
  display: table;
  height: 100%;
}

.header-content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.horizontal-navigation-bar, .logo {
  float: left;
}

.horizontal-navigation-bar {
  position: absolute;
  top: 33px;
  left: 52%;
}

/* === Header_Horizontal Navivgation Bar === */

.navigation-link {
  color: #f4f3f5;
  opacity: 0.65;
  padding-bottom: 2rem;
  margin-right: 4.286rem;
}

.navigation-link:first-child {
  margin-right: 4.857rem;
}

.navigation-link:last-child {
  margin-right: 0rem;
}

.navigation-link:visited {
  color: #f4f3f5;
}

.navigation-link:hover {
  color: #ffffff;
  border-bottom: solid;
  border-color: #ffffff;
}
/* === Containers === */

.container {
  border-radius: 1.071rem;
  padding: 4.286rem;
  background-color: #ffffff;
  height: 640px;
}

.container-image {
  border-radius: 1.071rem;
  width: 100%;
}

.container-personal-info {
  height: 210px;
}

.social-link-container {
  height: 40px;
}

.social-link {
  background-color: #6200ea;
  color: #ffffff;
  font-size: 1.428rem;
  border-radius: 1.286rem;
  padding: 0.643rem;
  margin-right: 0.714rem;
}

.social-link:last-child {
  margin-right: 0rem;
}

.social-link:visited {
  background-color: #6200ea;
  color: #ffffff;
}

/* === Text Input === */

.input {
  color: #211138;
  padding-top: 1.143rem;
  padding-left: 1.714rem;
  border: 0rem;
}

.text-input, .message-input {
  background-color: #f4f3f5;
}

.text-input {
  height: 50px;
  width: 100%;
  padding-bottom: 0.929rem;
}

.message-input {
  height: 150px;
  width: 100%;
  padding-bottom: 8.286rem;
}

.input:hover {
  border-bottom: solid;
  border-color: #6200ea;
}

/* === Button === */

.button {
  display: inline-block;
  width: 100%;
  border-radius: 1.714rem;
  border: 0.143rem solid #6200ea;
  color: #ffffff;
  padding: 1.286rem 0rem;
  text-align: center;
  background-color: #6200ea;
  color: #ffffff;
}

.button:hover {
  background-color: #6800ea;
}

/* === Footer === */

footer {
  height: 100px;
  padding: 3.071rem 0rem 3rem 0rem;
  text-align: center;
  background-color: #211138;
}

.footer-copyright {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  color: #b2acba;
}

.copyright-brand-name, .copyright-student-name {
  color: #6200ea;
}