/* === Lyaout Items === */

.layout_item--full-width {
  width: 100%;
  display: block;
}

.layout_item--70-percent {
  width: 70%;
}

.layout_item--42-percent {
  width: 42%;
}

.layout_item--58-percent {
  width: 58%;
}

.layout_item--49-percent-with-gutter {
  width: calc(49% - 1.071rem);
}

.layout_item--content-w-sticked-footer {
  min-height: calc(100vh - 80px);
}

.layout_item--centered-horizontally {
  margin-right: auto;
  margin-left: auto;
}

.layout_item--floated-left {
  float: left;
}

.layout_item--floated-right {
  float: right;
}

/* === Intervals === */

.gutter--horizontal {
  margin-bottom: 2.857rem;
}

/* === Helpers === */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}